@charset "utf-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

.page-header{
    padding: 0 16px;
    background: linear-gradient(#60f380ed, #bffdbe 50%);
    display:flex;
    justify-content: space-between;
}
h1{
  margin: 0;
  padding: 10px;
}
.header-sinkitouroku {
    text-align:right;
    margin:10px 0px 0px;
    display:inline-block;
}

.loginform{
    display: block;
    background:#f7f7f7;
    width:100%;
    height:100%;
    margin: 150px auto 0;
    max-width: 500px;
    padding: 50px;
    border: 1px solid #f1e6e6;
}
.loginform h2{
  color:#000000;
  text-align:center;
  margin-bottom: 30px;
}

.loginform input {
    display: block;
    padding:15px;
    border-radius: 30px;
    margin-bottom: 30px;
    width:100%;
   }