<!DOCTYPE html>
{% load static %}
<html lang="ja">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="{% static 'Dblog/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Dblog/reset.css' %}">
   
    <title>新規登録</title>
</head>

<body>
    <div class="page-header">
        <h1><a href="/">Django Girls Blog</a></h1>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>