<!DOCTYPE html>
{% load static %}
<html lang="ja">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" type="text/css" href="{% static 'Dblog/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'Dblog/reset.css' %}">
        <title>新規登録</title>
    </head>
    
    <body>
        <header class="page-header">
            <div class="header-container">
                <h1>守屋の秘訣日記</h1>
            </div> 
            
        </header>
    
        
{% block content %}
{% endblock %}
</body>
</html>
