<!DOCTYPE html>
{% load static %}
<html lang="ja">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="{% static 'Dblog/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Dblog/reset.css' %}">
   
    <title>新規登録</title>
</head>

<body>
    <header class="page-header">
        <div class="header-container">
            <h1>Dブログ</h1>
        </div> 
        <div class="header-login">
            
            
            <button type="button" action="{% url 'login' %}">ログイン</button>
            <p><a href="{% url 'login' %}"　class="btn">ログイン</a></p><!--ログインページに移動-->
        </div>
    </header>
   

      <div class="content">
         <div class="loginform">
            <h2>Dブログに登録する</h2>
           <!-- ログインはPOST -->
            
           <form method="POST" >
            {% csrf_token %}
            {{form.as_p}}
               
           
            <input type="submit" id="signup_button" class="signup_button" name="signup_button" value="登録">
           
        </form>    
    </body>

         </div>
         <div class="moji">
            <h1>Dブログへようこそ </h1>
                <br>
            <p>Dブログでは、制作をする人、それを応援する人
                <br>
                ものづくりが好きなみんなのための街のような場所。
                <br>
                好みのクリエイターやコンテンツを見つけたり、
                <br>
                自分のつくりたいものをつくったりして楽しめます。
                <br>
                いっしょに、創作の輪を広げていきましょう。
            </p>
    
        </div>
      </div>
        
</body>
</html>