<!DOCTYPE html>
<html lang="ja">
    {% extends 'Dblog/base_changebtn.html' %}
    {% block content %}
    

    <div class="home-latest">
        <div class="latest-item">
            <img src="img/noimg.jpg" alt="何も入ってない時に画像表示される">
            <h2><a href="#">ここにタイトを表示</a></h2>
            <p class="username">ユーザー名</p>
            <time datetime="2011-12-03">2011/12/3</time>
        </div>
        <div class="latest-item">
            <img src="img/noimg.jpg" alt="何も入ってない時に画像表示される">
            <h2><a href="#">ここにイトルを表示</a></h2>
            <p class="username">ユーザー名</p>
            <time datetime="2011-12-03">2011/12/3</time>
        </div>
        <div class="latest-item">
            <img src="img/noimg.jpg" alt="何も入ってない時に画像表示される">
            <h2><a href="#">ここタイトルを表示</a></h2>
            <p class="username">ユーザー名</p>
            <time datetime="2011-12-03">2011/12/3</time>
        </div>
        <div class="latest-item">
            <img src="img/noimg.jpg" alt="何も入ってない時に画像表示される">
            <h2><a href="#">ここにタイトルを表示</a></h2>
            <p class="username">ユーザー名</p>
            <time datetime="2011-12-03">2011/12/3</time>
        </div>
        <div class="latest-item">
            <img src="img/noimg.jpg" alt="何も入ってない時に画像表示される">
            <h2><a href="#">ここにタイトルを表示</a></h2>
            <p class="username">ユーザー名</p>
            <time datetime="2011-12-03">2011/12/3</time>
        </div>
        <div class="latest-item">
            <img src="img/noimg.jpg" alt="何も入ってない時に画像表示される">
            <h2><a href="#">ここにタイトルを表示</a></h2>
            <p class="username">ユーザー名</p>
            <time datetime="2011-12-03">2011/12/3</time>
        </div>
    </div>


</body>

</html>
{% endblock %}