<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/sinki.css">
    <title>>ログイン</title>
</head>

<body>
    <header class="page-header">
        <div class="header-container">
            <h1>Dブログ</h1>
        </div>
        <ul class="itiretu">
            <!-- actionの後のurlをこのサイトのurlをいれるとこのサイト内での検索になるらしいです(多分）コピーで拾ってきましたごめんなさい -->
            <!-- methodの部分もGETのサイトとPOSTのサイトがありました＞_＜ -->
            
            <!-- ＃のところに同じフォルダ内にあるHTMLファイルにリンクする場合は、リンク先のパスに、そのファイル名を記述すればリンクできる らしいです？？？ -->
            <li><a class="create" href="#">新規登録</a></li>
            
        </ul>
    </header>
    <div class="page-main">
        <div class="main-container">

    <div class="content">
        <div class="loginform">
        <h2>ログイン</h2>
           <!-- ログインはPOST -->
        <form action="" method="post">
            <input type="text" name="email" placeholder="id">
            <input class="password" type="password" name="password" placeholder="password">
            <input type="submit" class="common_btn" value="ログイン">
        </form>
        </div>
    </div>
        </div>
    
    </div>



</body>
</html>