<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'Dblog/signin/login.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Dblog/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Dblog/signin/sinki.css' %}">
    <title>新規登録</title>
</head>

<body>
    <header class="page-header">
        <div class="header-container">
            <h1>守屋の秘訣日記</h1>
        </div>
        <ul class="itiretu">
            <!-- actionの後のurlをこのサイトのurlをいれるとこのサイト内での検索になるらしいです(多分）コピーで拾ってきましたごめんなさい -->
            <!-- methodの部分もGETのサイトとPOSTのサイトがありました＞_＜ -->
            
            <!-- ＃のところに同じフォルダ内にあるHTMLファイルにリンクする場合は、リンク先のパスに、そのファイル名を記述すればリンクできる らしいです？？？ -->
            <li><form action="{% url 'login' %}">
                {% csrf_token %}
            <button class="common_btn" type="submit" name="login_button">ログイン</button></form></li>
        </ul>
    </header>

    <div class="content">
        <div class="loginform">
            <h2>守屋の秘訣日記に登録する</h2>
        <!-- ログインはPOST -->
        <form method="POST" >
            {% csrf_token %}
            <div class="form">{{form.as_p}}</div>
            <!-- <form action="" method="post"> -->
            <!-- <input type="text" name="email" placeholder="email"> -->
            <!-- <input type="text" name="id" placeholder="id"> -->
            <!-- <input class="password" type="password" name="password" placeholder="password"> -->
            <!-- <ul class="itiretu"> -->
            <!-- <li><a class="login" href="#">登録</a></li> -->
            
            <input type="submit" id="signup_button" class="common_btn" name="signup_button" value="登録">
                </form>

        </div>
        <div class="moji">
            <h1>守屋の秘訣日記へようこそ </h1>
                
            <p>守屋の秘訣日記では、守屋のように
                <br>
                美肌になりたい人、賢くなりたい人
                <br>
                守屋の事が好きなみんなのための街のような場所。
                <br>
                守屋に近づくためのヒントを見つけたり、
                <br>
                守屋の誕生秘話まで幅広くお楽しみいただけます。
                <br>
                一緒に、守屋の輪を広げていきましょう。
            </p>
    
        </div>
    </div>
        
</body>
</html>