<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'Dblog/signin/login.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Dblog/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Dblog/signin/sinki.css' %}">
    <title>新規登録</title>
</head>

<body>
    <header class="page-header">
        <div class="header-container">
            <h1>Dブログ</h1>
        </div>
        <ul class="itiretu">
            <!-- actionの後のurlをこのサイトのurlをいれるとこのサイト内での検索になるらしいです(多分）コピーで拾ってきましたごめんなさい -->
            <!-- methodの部分もGETのサイトとPOSTのサイトがありました＞_＜ -->
            
            <!-- ＃のところに同じフォルダ内にあるHTMLファイルにリンクする場合は、リンク先のパスに、そのファイル名を記述すればリンクできる らしいです？？？ -->
            
            <li><form action="{% url 'login' %}">
                {% csrf_token %}
                
                <button type="submit" name="login_button">ログイン</button></li>
        </ul>
    </header>
   

      <div class="content">
         <div class="loginform">
            <h2>Dブログに登録する</h2>
           <!-- ログインはPOST -->
           <form method="POST" >
            {% csrf_token %}
            {{form.as_p}}
               
           
            <input type="submit" id="signup_button" class="signup_button" name="signup_button" value="登録">
           
        </form>  

         </div>
         <div class="moji">
            <h1>Dブログへようこそ </h1>
                
            <p>Dブログでは、制作をする人、それを応援する人
                <br>
                ものづくりが好きなみんなのための街のような場所。
                <br>
                好みのクリエイターやコンテンツを見つけたり、
                <br>
                自分のつくりたいものをつくったりして楽しめます。
                <br>
                いっしょに、創作の輪を広げていきましょう。
            </p>
    
        </div>
      </div>
        
</body>
</html>