<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/sinki.css">
    <title>新規登録</title>
</head>

<body>
    <header class="page-header">
        <div class="header-container">
            <h1>Dブログ</h1>
        </div>
        <ul class="itiretu">
            <!-- actionの後のurlをこのサイトのurlをいれるとこのサイト内での検索になるらしいです(多分）コピーで拾ってきましたごめんなさい -->
            <!-- methodの部分もGETのサイトとPOSTのサイトがありました＞_＜ -->
            
            <!-- ＃のところに同じフォルダ内にあるHTMLファイルにリンクする場合は、リンク先のパスに、そのファイル名を記述すればリンクできる らしいです？？？ -->
            
            <li><a class="login" href="#">ログイン</a></li>
        </ul>
    </header>
   

      <div class="content">
         <div class="loginform">
            <h2>Dブログに登録する</h2>
           <!-- ログインはPOST -->
            <form action="" method="post">
            <input type="text" name="email" placeholder="email">
            <input type="text" name="id" placeholder="id">
            <input class="password" type="password" name="password" placeholder="password">
            <ul class="itiretu">
            <li><a class="login" href="#">登録</a></li>
            </ul>
           
        </form>

         </div>
         <div class="moji">
            <h1>Dブログへようこそ </h1>
                
            <p>Dブログでは、制作をする人、それを応援する人
                <br>
                ものづくりが好きなみんなのための街のような場所。
                <br>
                好みのクリエイターやコンテンツを見つけたり、
                <br>
                自分のつくりたいものをつくったりして楽しめます。
                <br>
                いっしょに、創作の輪を広げていきましょう。
            </p>
    
        </div>
      </div>
        
</body>
</html>