<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Dblog/viewblog/reset.css' %}">
    <link rel="stylesheet" href="{% static 'Dblog/viewblog/style.css' %}">
    <title>投稿</title>
</head>
<body>
    <header class="page-header">
        <div class="header-container">
            <h1>守屋の秘訣日記</h1>
        </div> 
        
    <ul class="itiretu">
    <!-- actionの後のurlをこのサイトのurlをいれるとこのサイト内での検索になるらしいです(多分）コピーで拾ってきましたごめんなさい -->
    <!-- methodの部分もGETのサイトとPOSTのサイトがありました＞_＜ -->
    <li><form method="GET" action=" "> 
            <input type="search" name="keyword" placeholder="キーワードを入力">
            <input type="submit" value="検索">
        </form>
        </li> 
        <!-- ＃のところに同じフォルダ内にあるHTMLファイルにリンクする場合は、リンク先のパスに、そのファイル名を記述すればリンクできる らしいです？？？ -->
        {% if user.is_authenticated %}<!--ログイン時の表示-->

            {{ user.username }}さん、こんにちは。

        <li><form action="{% url 'post_form' %}">
            {% csrf_token %}
        <button type="submit" name="makeblog_botton">新規ブログ作成</button></form></li>
        <li><form action="{% url 'Mypage_top' %}">
            {% csrf_token %}
        <button type="submit" name="mypagetop_botton">マイページ</button></form></li>
        <li><form action="{% url 'logout' %}">
            {% csrf_token %}
        <button type="submit" name="logout_botton">ログアウト</button></form></li><!--ログアウトの処理 settings.pyで指定したページへ遷移-->
        {% else %}<!--未ログイン時の表示-->
            <p>ログインしてね</p>
        <li><form action="{% url 'login' %}">
            {% csrf_token %}
        <button type="submit" name="login_button">ログイン</button></form></li>
        <li><form action="{% url 'signin' %}">
            {% csrf_token %}
        <button type="submit" name="signup_button">新規登録</button></form></li>
        {% endif %}

    </ul>    
    </header>
    <div class="taitoru">
    <h2>{{ blog.title }}</h2>
    </div>
    <div class="namae">
    <p>{{ blog.username }}</p>
    </div>
    <div class="hiduke">
    <p>{{ blog.create }}</p>
    </div>
    <div class="honbun">
    <p id="markdown">{{ blog.content }}</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script>
    document.getElementById('markdown').innerHTML =
      marked('# Marked in the browser\n\nRendered by **marked**.');
</script>
</body>
</html>