@charset "utf-8";
*,
*::before,
*::after {
box-sizing: border-box;
}
.page-header{
    padding: 0 16px;
    background: linear-gradient(#60f380ed, #bffdbe 50%);
    display:flex;
    justify-content: space-between;
}
h1{
padding: 10px;
}
ul {
    list-style: none;
    overflow: hidden;
    display: flex;
}
li{
    margin: 10px;
}
.itietu {
    align-items: center;
    margin: 0 0 30px 0;
    padding: 0;
}
.taitoru{
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center;
}
.namae , .hiduke{
    margin: 0 auto;
    text-align: center;
}
.namae{
    margin-bottom: 15px;
}
.hiduke{
    margin-bottom: 15px;
    
}
.honbun{
    margin: 0 auto;
    text-align: center;
    width: 872px;
    height: 524px;
    
}
