<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="{% static 'Dblog/login/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Dblog/login/reset.css' %}">
    <title>>ログイン</title>
</head>

<body>
    <header class="page-header">
        <div class="header-container">
            <h1>Dブログ</h1>
        </div>  
        <div class="header-sinkitouroku">
            <form action="{% url 'signin' %}">
            {% csrf_token %}
            <button type="submit" name="signup_button">新規登録</button>
            
            </form>
        </div>
    </header>
    <div class="page-main">
        <div class="main-container">

    <div class="content">
        <div class="loginform">
        <h2>ログイン</h2>
           <!-- ログインはPOST --><!--djangoのログイン機能-->
           <tr>
          
            <form action="" method="POST">
                {{ form.as_p }}
                {% csrf_token %}
                
                <input type="submit" id="login_button" class="login_button" name="login_button" value="ログイン">
            </form>
        </tr>
        
        
            
            
        </form>
        </div>
    </div>
        </div>
    
    </div>



</body>
</html>